<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">{{ config.env.website.title }}</a>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <button *ngIf="user" class="btn btn-success" type="button"
          (click)="openAddTimeReportModal()"><i class="fa fa-plus"></i> Add Report</button>
      </ul>
      <ul *ngIf="user" class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/time-reports">Time Reports</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i> {{user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/profile">Profile</a>
            <a class="dropdown-item" routerLink="/logout">Logout</a>
          </div>
        </li>
      </ul>
      <ul *ngIf="!user" class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/time-reports">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
<router-outlet name="modal"></router-outlet>
