<div ng-if="!c.getActiveProjects.length && !c.getFinishedProjects.length" class="panel panel-default">
    <div class="panel-body">
        Unfortunately there are no results matching your query.
    </div>
</div>
<div ng-if="c.getActiveProjects.length" class="panel panel-default">
    <div class="panel-heading">
        My active projects
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a ng-repeat="project in c.getActiveProjects" class="list-group-item" href="#/projects/{{ project.id }}/time-reports">{{ project.name }}</a>
        </div>
    </div>
</div>
<div ng-if="c.getFinishedProjects.length" class="panel panel-default">
    <div class="panel-heading">
        My finished projects
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a ng-repeat="project in c.getFinishedProjects" class="list-group-item" href="#/projects/{{ project.id }}/time-reports">{{ project.name }}</a>
        </div>
    </div>
</div>