<div class="panel panel-default">
    <div class="panel-heading">
        Time reports
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Profile</th>
                                <th>Details</th>
                                <th>Hours</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-if="c.getTimeReports.length" ng-repeat="report in c.getTimeReports">
                                <td>{{ report.date }}</td>
                                <td>{{ report.profile_entry.full_name }}</td>
                                <td>{{ report.name }}</td>
                                <td>{{ report.get_hours }}</td>
                            </tr>
                            <tr ng-if="c.getTimeReports.length == 0">
                                <td>No time reports</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>