body {
    padding-top: 70px;
}

.alert span {
    display: block;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.search-form {
    padding-bottom: 20px;
}

.full-width {
    width: 100% !important;
}

.formButton {
    padding: 10px 15px;
    overflow: hidden;
}