body {
    padding-top: 70px;
}

.alert span {
    display: block;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.search-form {
    padding-bottom: 20px;
}

.full-width {
    width: 100% !important;
}

.formButton {
    padding: 10px 15px;
    overflow: hidden;
}

.overall-hours{
    background-color:#e7e7e7 !important;
    font-weight: 600 !important;
}

.overall-hours > td{
    border-left:none !important;
    border-right:none !important;
}

.overall-title{
    font-size:18px;
}