<div class="panel panel-default">
    <div class="panel-heading">
        Please Sign In
    </div>
    <div class="panel-body">
        <form name="form" ng-submit="c.login()" role="form" novalidate>
            <div class="form-group">
                <label for="NoK9Xxglls">Username</label>
                <input id="NoK9Xxglls" type="text" class="form-control" placeholder="Username" ng-model="c.username">
            </div>
            <div class="form-group">
                <label for="fq7X1zhPP2">Password</label>
                <input id="fq7X1zhPP2" type="password" class="form-control" placeholder="Password" ng-model="c.password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
